.contatos{
    display: flex;
    flex-direction: column;
    text-align: center;
    p{
        margin-bottom: 10vh;
        color: #3d3c3c;
    }
    img{
        width: 80px;
    }
    .row{
        display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15vh;
    margin-bottom: 10vh;
    }
}