.habilidade{
    width: 200px;
    height: 200px;
    border: 2px solid gray;
    margin: 60px;
    margin-top: 10vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    p{
        color: #3d3c3c;
    }
    img{
        width: 75px;
        transition: 0.5s;
    }
}

.habilidade:hover{
    background-color: #3d3c3c;
    border: none;
    p{
        color: white;
    }
    img{
        scale: 1.1;
        transition: 0.5s;
    }
}

.habilidades{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}