.certificados{
    border-bottom: 1px solid gray;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    color: #3d3c3c;
    .lista-certificados{
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 5%;
        margin-bottom: 5%;
        .certificado{
            width: 95%;
            height: 200px;
            max-width: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            border: 2px solid gray;
            border-radius: 20px;
            color: #3d3c3c;
            margin-bottom: 10%;
            h1{
                font-size: 1.5em;
                text-align: center;
            }
            a{
                text-decoration: none;
                color: white;
                font-size: 0.9em;
                background-color: #3d3c3c;
                padding: 10px;
                border-radius: 10px;
            }
        }
        .certificado:hover{
            border: none;
            color: white;
            background-color: #3d3c3c;
            a{
                color: #3d3c3c;
                background-color: white;
            }
        }
    }
}